<div class="wrapper">
  <header class="p-4 pl-5 pr-5">
    <img src="assets/img/logo.svg" alt="">
  </header>

  <div id="gracias">
    <div class="container-fluid wrapper_gracias">

      <h1 class="title_gracias">¡Muchas gracias!</h1>

      <h2 class="bajada">Con el siguiente código, que también enviamos a tu mail, podrás obtener un descuento especial
        en nuestros productos de Mercadolibre:</h2>

      <p class="codigo">{{ codigo }}</p>
      <!-- <p class="codigo">WS015</p> -->

    </div>
  </div>


</div>