@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

$main-title: 2.2em;
$second-title: 1.1em;

.wrapper {
  background-color: #ffe326;
  color: #404041;
}

header {
  background: #fff;
  img {
    max-width: 215px;
    padding: 0px;
  }
}

#gracias {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #ffe326;
  min-height: auto;
}

.wrapper_gracias {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 6% 10rem !important;

  .row {
    align-content: center;
    justify-content: center;
    .col-12 {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }

  .logos {
    margin-top: 5%;
    padding: 0 5rem;

    div {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button {
          padding: 5px 10px;
          margin-top: 5px;
          border-radius: 0;
          color: #404041;
          font-weight: 500;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

  .title_gracias {
    padding-bottom: 1rem;
    font-size: $main-title;
    font-weight: 500;
    color: #2d2518;
  }

  .bajada {
    padding: 1rem 0;
    font-size: $second-title;
    color: #2d2518;
  }

  .codigo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    p {
      background: white;
      color: #6e6e70;
      text-align: center;
      font-size: 1.5rem;
      width: 20%;
      letter-spacing: .5em;
      padding: 1px;
    }
  }
}

@media (max-width: 1152px) {
  .wrapper_gracias {
    margin-top: 5%;
    padding: 0rem 2rem !important;

    .codigo {
      p {
        width: 30%;
      }
    }

    .logos {
      padding: 0 2rem;
      div {
        margin-bottom: 20%;
      }
    }
  }
}

@media (max-width: 568px) {
  .wrapper_gracias {
    margin-top: 5%;
    padding: 0rem 2rem !important;

    .codigo {
      p {
        width: 40%;
      }
    }

    .logos {
      padding: 0 2rem;
      div {
        margin-bottom: 20%;
      }
    }
  }
}
