<div class="wrapper">

    <header class="p-4 pl-5 pr-5">
        <img src="assets/img/logo-header.png" alt="">
    </header>

    <div class="img-media">
        <div class="col"><img src="assets/img/img-media.jpg" alt=""></div>
    </div>

    <div class="container-fluid p-5 py-lg-5">

        <div class="row">

            <div class="col-md-6 col-izq-datos">
                <div class="descuento">
                    <img src="assets/img/texto_solo.png" alt="">
                </div>
                <div class="logos">
                    <img class="logo-footer" src="assets/img/ws.png" alt="">
                    <img class="logo-footer" src="assets/img/just1.png" alt="">
                    <img class="logo-footer" src="assets/img/onguard.png" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-box px-md-5 py-4 px-4 col-11">
                    <h2><strong>Dejanos tus datos y participá del sorteo</strong></h2>
                    <form (ngSubmit)="onSubmit(f)" name="form" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="firstName">Nombre y apellido</label>
                            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                                #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                                required />
                            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                <div *ngIf="firstName.errors.required">Nombre y apellido es obligatorio</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Mail</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Mail es obligatorio</div>
                                <!-- <div *ngIf="email.errors.email">Email must be a valid email address</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" class="form-control" name="ciudad" [(ngModel)]="model.ciudad"
                                #ciudad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ciudad.invalid }"
                                required />
                            <div *ngIf="f.submitted && ciudad.invalid" class="invalid-feedback">
                                <div *ngIf="ciudad.errors.required">Ciudad es obligatorio</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <input type="text" class="form-control" name="provincia" [(ngModel)]="model.provincia"
                                #provincia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && provincia.invalid }"
                                required minlength="6" />
                            <div *ngIf="f.submitted && provincia.invalid" class="invalid-feedback">
                                <div *ngIf="provincia.errors.required">Provincia es obligatorio</div>
                                <!-- <div *ngIf="provincia.errors.minlength">Password must be at least 6 characters</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="moto">Tu moto</label>
                            <input type="text" class="form-control" name="moto" [(ngModel)]="model.moto"
                                #moto="ngModel" />
                            <!--<div *ngIf="f.submitted && moto.invalid" class="invalid-feedback">
                        <div *ngIf="moto.errors.required">Tu moto es obligatorio</div>
                         <div *ngIf="moto.errors.minlength">moto must be at least 6 characters</div> 
                    </div>-->
                        </div>
                        <div class="form-group">
                            <label for="productoMP">Producto que compraste por Mercado Libre</label>
                            <input type="productoMP" class="form-control" name="productoMP"
                                [(ngModel)]="model.productoMP" #productoMP="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && productoMP.invalid }" required
                                minlength="6" />
                            <div *ngIf="f.submitted && productoMP.invalid" class="invalid-feedback">
                                <div *ngIf="productoMP.errors.required">Producto que compraste por Mercado Libre es
                                    obligatorio</div>
                                <!-- <div *ngIf="productoMP.errors.minlength">productoMP must be at least 6 characters</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <button *ngIf="!enviando" type="submit" class="btn btn-light">Enviar</button>
                            <p *ngIf="enviando">Enviando...</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>