/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "./app/partials/_buttons";

@font-face {
  font-family: 'Trebuchet';
  font-style: normal;
  src: local('Trebuchet'), url("./assets/fonts/trebuc.woff") format('woff');
}

*,
body,
html {
  font-family: 'Trebuchet';
}
